<a href="https://colab.research.google.com/github/WilliamR312/pourmoi/blob/main/DBWEEK11LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
import sqlite3 as sl
con = sl.connect('my-test.db')

In [ ]:
with con:
  con.execute("""CREATE TABLE USER (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER
      );
  """)

In [ ]:
sql = 'INSERT INTO USER (id, name, age) values (?, ?, ?)'
data = [
    (1, "Alice", 21),
    (2, "Bob", 22),
    (3, "Chris", 23)
]

In [ ]:
with con:
  con.executemany(sql, data)

In [ ]:
with con:
  data = con.execute("SELECT * FROM USER WHERE age <= 22")
  for row in data:
    print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)

2

In [ ]:
import pandas as pd
df_skill = pd.DataFrame({
  'user_id': [1,1,2,2,3,3,3],
  'skill': ['Network Security', 'Algorithm Development', 'Network Security', 'Java', 'Python', 'Data Science', 'Machine Learning']

})
df_skill

   user_id                  skill
0        1       Network Security
1        1  Algorithm Development
2        2       Network Security
3        2                   Java
4        3                 Python
5        3           Data Science
6        3       Machine Learning

In [ ]:
df_skill.to_sql('SKILL', con)
df = pd.read_sql('''
  SELECT s.user_id, u.name, u.age, s.skill
  FROM USER u LEFT JOIN SKILL s ON u.id = s.user_id
''', con)

df

   user_id   name  age                  skill
0        1  Alice   21  Algorithm Development
1        1  Alice   21       Network Security
2        2    Bob   22                   Java
3        2    Bob   22       Network Security
4        3  Chris   23           Data Science
5        3  Chris   23       Machine Learning
6        3  Chris   23                 Python

3_1)

In [ ]:
%load_ext sql
from random import uniform, choice
import time
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

3_2)

In [ ]:
%sql sqlite:///demo.db3

'Connected: @demo.db3'

In [ ]:
%sql SELECT date('now');

 * sqlite:///demo.db3
Done.

[('2022-11-09',)]

In [ ]:
%sql SELECT date('now', 'start of month', '+1 month', '-1 day');

 * sqlite:///demo.db3
Done.

[('2022-11-30',)]

3_3)

In [ ]:
%%sql sqlite://
DROP TABLE IF EXISTS Temperature;
CREATE TABLE Temperature (Timestamp DATETIME NOT NULL, Temperature NUMERIC NOT NULL)

DatabaseError: ignored

In [ ]:
%%sql sqlite://
CREATE UNIQUE INDEX idx_timestamp ON Temperature (Timestamp);

In [ ]:
def dt(days):
  return timedelta(days=days)

N_rows = 500
now = datetime.now()

for i in range(N_rows):
  timestamp = now - dt(days=(N_rows - i))
  temperature = uniform(18, 26)
  %sql INSERT INTO Temperature VALUES (:timestamp, :temperature);

3_4

In [ ]:
%sql SELECT datetime(Timestamp) as Date, Temperature FROM Temperature LIMIT 5

In [ ]:
%%sql sqlite://
SELECT Timestamp as Date, Temperature
FROM Temperature
WHERE Date <= '2022-06-31 14:21:45'

3_5

In [ ]:
%%sql sqlite://
SELECT Timestamp as Date, Temperature
FROM Temperature
WHERE CAST(strftime('%Y', Date) as Int) = 2021

3_6

In [ ]:
%%sql sqlite://
SELECT strftime('%Y', Timestamp) as Year,
        AVG(Temperature) AS MEAN_TMP,
        MAX(Temperature) AS MAX_TMP,
        MIN(Temperature) AS MIN_TMP
FROM Temperature
GROUP BY strftime('%Y', Timestamp)

In [ ]:
ts = %sql SELECT datetime(Timestamp) as date, Temperature FROM Temperature
df = ts.DataFrame()
df.set_index("date", inplace = True)
df.index = pd.to_datetime(df.index)
df.index

3_7

In [ ]:
df.plot(figsize=(12, 6))